{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock css %}

{% block content %}

  {% comment %} <div class="card" style="margin-top: 100px;">
    <div class="card-body">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class='input_field' type="password" placeholder="글 비밀번호" name="password">
        <button class="write_button">확인</button>
      </form>
    </div>
  </div> {% endcomment %}

  <div class="signup-form">

    <div class="title">게시글 비밀번호</div>

    <form action="" method="POST">
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <span class="details">비밀번호</span>
          <input type="password" placeholder="비밀번호를 입력해 주세요" required="required" name="password" id="password1">
        </div>

        <div class="button">
          <input type="submit" value="수정 완료" onclick="loginCheck()">
        </div>
      </div>

    </form>

  </div>

{% endblock content %}