{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/qna_detail.css'%}">
{% endblock css %}

  <div class="qna-post">
    <div class="qna-post_img">
      <img class="qna-img" src="{{ qna.image.url }}" alt="">
    </div>
    <div class="qna-post_info">
      <div class="post-head">
        <div class="qna-post_date">
          <span>{{ qna.pk }}번글</span>
        </div>
        <h1 class="qna-post_title">{{ qna.title }}</h1>
        <div class="qna-post_date">
          <span> {{qna.user.username}} </span>
        </div>
      </div>
      <div class="post-body">
        <p class="qna-post_text">
          {{ qna.content }}
        </p>
      </div>
      <div class="qna-btn">
      {% if request.user == qna.user %}
        <a class="delete-btn" href="{% url 'community:qna_delete' qna.pk %}"><i class="bi bi-trash"></i></a>
        <a class="update-btn mx-1" href="{% url 'community:qna_update' qna.pk %}"><i class="bi bi-pencil-square"></i></a>
      {% endif %} 
        <a class="back-btn" href="{% url 'community:index' %}" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i></a>
      </div>
    </div>
  </div>

  {% comment %} <h1>{{ qna.title }}</h1>
  <p>{{ qna.content }}</p>
  <img src="{{ qna.image.url }}" alt="">
  <p>{{ qna.user.username }}</p> {% endcomment %}

{% endblock content %}