{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

  {% if request.user == qna.user %}
    <form action="{% url 'community:review_delete' review.pk %}" method="POST">
      {% csrf_token %}
      <input class="" type="submit" value="삭제">
      <a href="{% url 'community:review_index' %}" class="btn btn-outline-secondary">뒤로</a>
    </form>
    <form action="{% url 'community:review_update' review.pk %}" method="POST">
      {% csrf_token %}
      <a href="{% url 'community:review_update' review.pk %}" method="POST">수정</a>
      <a href="{% url 'community:review_index' %}" class="btn btn-outline-secondary">뒤로</a>
    </form>
  {% endif %}
{% endblock content %}