{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/review_index.css'%}">
  <script src="https://kit.fontawesome.com/44d20d6c0e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock css %}
{% block content %}
  <!-- 리뷰 -->
  <div class="code text">
    <div class="review-content">

      <!--testimonials-box-container-->
      {% for review in reviews %}

        <div class="testimonial-box-container">
          <!--box1-->
          <div class="testimonial-box">
            <!-- top -->
            <div class="box-top">
              <!--profile-->
              <div class="profile">
                <!--img-->
                <div class="profile-img">
                  {% if review.user.profile_image %}
                    <img src="{{ review.user.profile_image.url }}" alt="">
                  {% else %}
                    <img src="{% static 'images/yeoldy_favicon.ico' %}" alt="">
                  {% endif %}
                </div>
                <!--name-and-username-->
                <div class="name-user">
                  {% if review.user.nickname %}
                    <strong>{{ review.user.nickname }}</strong>
                  {% else %}
                    <strong>Anonymous</strong>
                  {% endif %}
                  <span>{{ review.get_grade_display }}</span>
                </div>
              </div>

            </div>

            <!--Comments-->
            <div class="client-comment">
              <div class="comment">
                <p>{{ review.content }}</p>
                {% if review.photo_set.all %}
                  <div class="swiper mySwiper1">
                    <div class="swiper-wrapper">
                      {% for photo1 in review.photo_set.all%}
                        <div class="swiper-slide"><img class="comment-img" src="{{ photo1.image.url }}" alt=""></div>
                      {% endfor %}
                    </div>

                    <div class="swiper-pagination"></div>

                  </div>
                {% endif %}

              </div>

              <!-- button -->
              <div class="d-flex">
                {% if review.photo_set.all %}
                  <button type="button" class="comment-btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">자세히</button>
                {% endif %}

                {% if request.user == review.user %}
                  <a class="review-btnd mx-1" href="{% url 'community:review_delete' review.pk %}">
                    <i class="bi bi-trash"></i>
                  </a>
                  <a class="review-btnu" href="{% url 'community:review_update' review.pk %}">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                {% endif %}
              </div>

            </div>

          </div>

        </div>

      {% endfor %}
      {% for review_2 in reviews_2 %}
        <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-0 align-items-start">
                <div class="d-flex flex-column">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <strong>{{review_2.user.nickname}}</strong>
                  </h1>
                  <p class="m-0">{{review_2.product.name}}</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">

                <div class="swiper mySwiper2">
                  <div class="swiper-wrapper">
                    {% for photo2 in review_2.photo_set.all %}
                      <div class="swiper-slide"><img class="modal-img" src="{{ photo2.image.url }}" alt="">
                      </div>
                    {% endfor %}
                  </div>
                  <div class="swiper-pagination"></div>
                </div>

              </div>

            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.mySwiper1', {
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true
      }
    });

    const swiper2 = new Swiper(".mySwiper2", {
      slidesPerView: 1,
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true
      }
    });
  </script>

{% endblock content %}