{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/review_index.css'%}">
  <script src="https://kit.fontawesome.com/44d20d6c0e.js" crossorigin="anonymous"></script>
{% endblock css %}
{% block content %}
  <!-- 리뷰 -->
  <div class="code text">
    <div class="review-content">

      <!--testimonials-box-container-->
      <div class="testimonial-box-container">
        <!--box1-->
        <div class="testimonial-box">
          <!-- top -->
          <div class="box-top">
            <!--profile-->
            <div class="profile">
              <!--img-->
              <div class="profile-img">
                <img src="https://i.pinimg.com/564x/b7/21/57/b72157473ae510c74e7a96ccb8bd0e38.jpg" alt="">
              </div>
              <!--name-and-username-->
              <div class="name-user">
                <strong>SangWook</strong>
                <span>@Wxxk</span>
              </div>
            </div>

            <!--review-->
            <div class="reviews">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <!--empty start-->
            </div>

          </div>

          <!--Comments-->
          <div class="client-comment">
            <div class="comment">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime corporis, blanditiis tempora, explicabo vitae necessitatibus iure minus ipsam quam quis atque consequatur, cumque perspiciatis sit asperiores esse molestias aut inventore?</p>
              <img class="comment-img" src="https://i.pinimg.com/564x/59/88/db/5988db35d63851e890384c9ff6ed2743.jpg" alt="">
            </div>

            <!--popup-->
            <button type="submit" class="comment-btn" onclick="openPopup()">자세히</button>
            <div class="modal-background">
              <div class="popup" id="popup">
                <img class="profile" src="https://i.pinimg.com/564x/b7/21/57/b72157473ae510c74e7a96ccb8bd0e38.jpg" alt="">
                <h2>제목</h2>
                <img class="product-img" src="https://i.pinimg.com/564x/59/88/db/5988db35d63851e890384c9ff6ed2743.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatibus aliquam maiores, corrupti necessitatibus expedita rerum odit quod corporis possimus nemo beatae delectus nihil nobis nisi quaerat, voluptate placeat. Veritatis!</p>
                <button type="button" onclick="closePopup()">OK</button>
              </div>
            </div>

          </div>

        </div>

      </div>.

    </div>
  </div>
  <!-- 페이징처리 시작 -->
  <ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if question_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in question_list.paginator.page_range %}
      {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if question_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
    {% endif %}
  </ul>
  <!-- 페이징처리 끝 -->

  <script>
    let popup = document.getElementById("popup");

    function openPopup() {
      popup
        .classList
        .add("open-popup");
    }

    function closePopup() {
      popup
        .classList
        .remove("open-popup");
    }
  </script>
{% endblock content %}