*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.signup-form{
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  box-shadow: 0px 0px 10px rgba(13, 178, 148, 0.253)
}

.signup-form .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

/* .container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-origin: padding-box;
  height: 3px;
  widtsignup-form
} */

.signup-form form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #0DB295;
}

form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label{
  display: flex;
}

.gender-details .category .dot{
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  border-color: #d9d9d9;
  background: #0DB295;
}

form input[type="radio"]{
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #0DB295;
}


@media (max-width: 584px) {
  .signup-form{
    max-width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category{
    width: 100%;
  }
  .signup-form form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 0;
  }
}