.base-div {
  margin-top: 13rem !important;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding: 0;
  box-sizing: border-box;
  background-image: url('../images/yeoldy_main_design.png');
  background-repeat : no-repeat;
  background-size: 100%;
  background-position: center;
}

.login-form {
  position: relative;
  background-color: rgba(255, 255, 255, 0.669);
  backdrop-filter: blur(10px);
  padding: 3rem 4.5rem;
  width: 35rem;
  box-shadow: 2px 8px 14px 0px rgba(0, 0, 0, 0.086);
  border-radius: 20px;
  border: white solid 1px;
}

.login-form h1 {
  letter-spacing:3px;
  font-size: 27px;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(49, 49, 49);
}

.int-area {
  width: 400px;
  position: relative;
  margin-top: 20px;
  margin: auto;
  margin-bottom: 1.5rem;
}

.int-area:first-child {
  margin-top: 0;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 15px;
  color: #999;
  transition: all .5s ease;
}

.int-area label.warning {
  color: rgb(255, 57, 57) !important;
  animation: warning .3s ease;
  animation-iteration-count: 3s;
}

@keyframes warning {
  0% {transform: translateX(-5px);}
  25% {transform: translateX(5px);}
  50% {transform: translateX(-5px);}
  75% {transform: translateX(5px);}
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #166cea;
}

.btn-area {
  margin-top: 40px;
}

.btn-area button {
  width: 100%;
  height: 3.1rem;
  color: white;
  background-color: #0DB295;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-area button:hover {
  background-color: #07937a;
}

.caption {
  margin-top: 20px;
  text-align: center;
}

.caption a {
  font-size: 15px;
  color: #999;
  text-decoration: none;
}

#kakao-login-btn {
  width: 100% !important;
  height: 3.1rem !important;
}

/* #kakao-login-btn span {
} */

#kakao-login-btn > img {
  display: none;
}

.ka-box{
  height: 3.1rem !important;
  transition: 0.3s;
  border-radius: 7px;
}

.na-box{
  transition: 0.3s;
  border-radius: 7px;
}

.ka-box:hover {
  background-color: #bb89002e;
}

.na-box:hover {
  background-color: #d7ffaa34;
}

.ka-logintext {
  /* left: 50%;
  transform: translate(-45%,50%); */
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  z-index: -999;
  background-color: #fbe300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.logintext {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  z-index: -999;
  background-color: #1EC800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  color: white;
}

#naver_id_login {
  width: 100% !important;
  height: 3.1rem !important;
}

#naver_id_login > a {
  width: 100% !important;
}

#naver_id_login > a > img {
  opacity: 0;
  width: 100% !important;
  z-index: 999;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

@media ( max-width: 1024px ) {
  .base-div {
    margin-top: 11rem !important;
    min-height: 850px !important;
  }
}