.base-div{
  margin-top: 10rem !important;
}

.mypage{
  margin: auto;
  padding: 3rem;
  width: 900px;
  border-radius: 20px;
  box-shadow: 3px 6px 14px 2px rgba(0, 0, 0, 0.086);
}

.mypage h1 {
  color: rgb(53, 53, 53);
  font-size: 27px;
  margin-bottom: 2rem;
}

.section {
  justify-content: space-around;
  align-items: center;
  margin: auto;
}


.info {
  text-align: left;
  min-width: 300px;
}

.mypage-btn {
  margin-top: 2rem;
  text-align: end;
  display: flex;
}

.info-name {
  font-weight: 300;
}

.info-content {
  font-weight: 200;
}

/* .profile-crop {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
} */

.profile-crop {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: auto;
    border: solid 1px rgba(193, 193, 193, 0.588);
}

/* .profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%,-50%);
} */


@media ( max-width: 1023px ) {
  .mypage {
    width: 700px;
  }
  /* .mypage-btn .btn {
    --bs-btn-font-size: 12px !important;
  } */
}
@media ( max-width: 767px ) {
  .mypage {
    width: 500px;
  }

  .mypage-btn {
    justify-content: center;
  }

  .info-box {
    padding-left: 4rem;
  }
  
}