* {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Poppins', sans-serif;
}

nav { 
  background-color: rgba(255, 255, 255, 0);
  width: 100vw;
  height: 6rem;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
}

.nav-items {
  display: flex;
  padding: 0 4rem;
  margin: 0;
}

.nav-items li {
  list-style: none;
  padding: 0 10px;
}

.nav-items li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.logo-div {
  padding-left: 1rem;
  padding-right: 3rem;
}

.sticky .nav-items li a {
  color: black
}

.drop {
  display: none;
  transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  /* transition: all 0.2s ease-in-out; */
}

.nav-items .drop-menu {
  position: absolute;
  display: flex;
  top: 70px;
  width: 100%;
  left: 0;
  z-index: 1;
  line-height: 40px;
  justify-content: center;
  padding: 1.5rem 0;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.019);

}

.nav-items li a:hover {
  background-color: red;
}

.nav-items li:hover .drop {
  display: block;
}

