footer {
  height: 13rem;
  margin-top: 3rem;
  padding: 3rem 5rem;
  font-size: 13px;
  background-color: #0DB295;
  line-height: 24px;
}

footer span {
  font-weight: 500;
  color: #ffffff;
}

footer p {
  color: rgba(255, 255, 255, 0.832);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.top-btn {
  position: fixed;
  bottom: 100px;
  right: 23px;
}

.top-btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:60px;
  height:60px;
  background-color:#fff;
  border-radius: 50%;
  box-shadow: 4px 4px 25px 0px #0714271f;
}

.top-btn div i {
  font-size: 25px;
}