::-moz-selection {
  background: rgb(17, 238, 164);
  color: #fff;
}
::selection {
  background: rgb(17, 238, 164);
  color: #fff;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Poppins', sans-serif;
}

nav { 
  background-color: white;
  width: 100vw;
  height: 6rem;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
  z-index:999;
  backdrop-filter: blur(5px);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.044);
}

.nav-items {
  display: flex;
  padding: 0 4rem;
  margin: 0;
  height: 100%;
}

.nav-items li {
  list-style: none;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-items li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.nav-items > li > a {
  display: inline-block;
	position: relative;
  transition: 0.3s;
}
.nav-items > li > a:after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		border-bottom: 2px solid #05bb7e;
    border-radius: 2px;
		left: 0;
		/* background-color: #05bb7e; */
		transition: 0.1s;
	}

.nav-items > li > a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  border-top: 2px solid #05bb7e;
  border-radius: 2px;
  margin: -3px 0;
  left: 0;
  transition: 0.3s;
}

.nav-items > li > a:hover:after{
  width: 100%;
}

.nav-items > li > a:hover::before{
  width: 100%;
}

.nav-items > li > a:hover{
  color: #05bb7e;
}


.logo-div {
  padding-left: 1rem;
  padding-right: 6.5rem;
}

.nav-items li a {
  color: black;
}

.sticky .nav-items li a:hover {
  color: #0DB295;
}


.nav-items .drop-menu {
  position: absolute;
  display: flex;
  top: -100px;
  width: 100%;
  left: 0;
  z-index: -1;
  line-height: 40px;
  justify-content: center;
  padding: 1.5rem 0;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.019);
  transition: all 0.7s;
  background-color: white;
}

.drop-menu li a {
  opacity: 0;
  transition: all 0.2s;
  font-weight: 600;
}

/* .drop-menu li a::after {

}

.nav-items li a:hover {
  padding: 3px;
  background-color: rgba(164, 0, 0, 0.652);
  border-bottom: 2px solid  #0DB295;
} */

.nav-items li:hover .drop-menu {
  top: 60px;
  transition: all 0.7s;
}

.nav-items li:hover .drop-menu li a {
  opacity: 1;
  transition: all 0.2s;
  /* transition-delay: 0.2s; */
}

.sticky .nav-items .drop-menu {
  /* backdrop-filter: blur(5px); */
  background-color: white;
}

.sticky .drop-menu li a {
  color: black;
}

.sticky .drop-menu > li > a:hover {
  color: #0DB295;
}

.drop-menu > li > a:hover {
  color: #0DB295;
}

.logo-link {
  position: relative;
}

#logo2 {
  opacity: 0;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 99;
  transition: all 0.3s;
}

.logo-link:hover #logo2 {
  opacity: 1;
  transition: all 0.3s;
  animation-name: out;
}

.logo-link:hover #logo1 {
  opacity: 0;
  transition: all 0.3s;
}



