table p {
    margin: 0;
    line-height: 25px;
}

thead {
    text-align: center;
    border-bottom: 4px solid rgb(49, 194, 150);
}

th, td {
    line-height: 50px;
    text-align: center;
}

td {
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;
}

.product-info {
    width: 500px;
    height: 100px;
}

.product-link {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.product-price {
    font-size: 14px;
    color: rgb(250, 75, 69);
}

.count {
    display: flex;
    flex-direction: column;
}

.countbox {
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.pmbtn {
    width: 25px;
    border: 0;
    background: rgb(165, 240, 217);
    /* border-radius: 5px; */
    border: 1px solid lightgray;
}

.count-num {
    width: 30px;
    margin: 0;
    text-align: center;
    border: 1px solid lightgray;
    border-width: 1px 0 1px 0;
}

.changebtn {
    line-height: 30px;
    background: rgb(49, 228, 174);
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
}

.product-total-price {
    font-size: 20px;
    font-weight: 600;
}

.finalbox {
    margin-top: 50px;
    border: 4px solid rgb(49, 194, 150);
    border-width: 4px 0 4px 0;
}

.titlebox, .pricebox {
    padding: 30px 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.titlebox {
    border-bottom: 2px solid rgb(49, 194, 150);
}

.pricebox-title {
    margin: 0;
}