*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dad3f8;
}

.container {
  background: #fff;
  width: 80%;
  min-height: 800px;
  border-radius: 12px;
  margin: 0 20px;
  padding: 40px 50px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.container .main-title{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.container .content{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.container .content .list{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  margin-right: 50px;
}

.content .list label{
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 12px;
  line-height: 60px;
  cursor: pointer;
  margin: 0;
  padding-left: 25px;
  color: #333;
  z-index: 12;
  transition: all 0.4s ease;
}

.content .list label:hover{
  color: #6d50e2;
}

#home:checked ~ .list .home,
#blog:checked ~ .list .blog,
#help:checked ~ .list .help,
#code:checked ~ .list .code{
  color: #fff;
}


.content .indicator{
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background: #6d50e2;
  border-radius: 12px;
  transition: all 0.4s ease;
}

#home:checked ~ .list .indicator{
  top: 0;
}

#blog:checked ~ .list .indicator{
  top: 60px;
}

#help:checked ~ .list .indicator{
  top: 120px;
}

#code:checked ~ .list .indicator{
  top: 180px;
}

#about:checked ~ .list .indicator{
  top: 240px;
}

.container input[type="radio"]{
  display: none;
}

.container .content .text-content{
  width: 80%;
  height: 100%;
}

.content .text-content .text{
  display: none;
}

.content .text-content .home{
  display: block;
}
#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code{
  display: block;
}

#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home{
  display: none;
}


.container .content .text-content .title{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
}

.container .content .text-content p{
  text-align: justify;
}


.qnacontainer{
  margin: 0 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.qnacontainer h1{
  color: #333;
}

.qnacontainer .tab
{
  position: relative;
  background: #fff;
  padding: 0 20px 20px;
  box-shadow:  0 15px 25px rgba(0,0,0,0,0.05);
  border-radius: 5px;
  overflow: hidden;
}

.qnacontainer .tab input{
  appearance: none;
}

.container .tab label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.qnacontainer .tab label::after{
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}

.qnacontainer .tab input:checked ~ label::after{
  transform: rotate(135deg);
  color: #fff;
}

.qnacontainer .tab label h2{
  width: 40px;
  height: 40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
}

.qnacontainer .tab input:checked ~ label h2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0.2);
  font-size: 8em;
  justify-content: flex-end;
  padding: 20px;
}

.qnacontainer .tab:nth-child(1) label h2{
  background: linear-gradient(135deg, #70f570, #49c628);
}
.qnacontainer .tab:nth-child(2) label h2{
  background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.qnacontainer .tab:nth-child(3) label h2{
  background: linear-gradient(135deg, #ff96f9, #c32bac);
}
.qnacontainer .tab:nth-child(4) label h2{
  background: linear-gradient(135deg, #fd6e6a, #ffc600);
}


.qnacontainer .tab label h3{
  position: relative;
  font-weight: 500;
  color: #333;
  z-index: 10;
}

.qnacontainer .tab input:checked ~ label h3{
  background: #fff;
  padding: 2px 10px;
  color: #333;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}


.qnacontainer .tab .content{
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.qnacontainer .tab input:checked ~ .content{
  max-height: 100vh;
}

.qnacontainer .tab .content p{
  position: relative;
  padding: 10px 0;
  color: #333;
  z-index: 10;
}

.qnacontainer .tab input:checked ~ .content p {
  color: #fff;
}
