*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background: #0DB295; */
}

.container {
  background: #fff;
  width: 80%;
  min-height: 800px;
  border-radius: 30px;
  margin: auto;
  padding: 40px 50px 40px 40px;
  box-shadow: 0px 8px 25px 2px rgb(45 47 62 / 8%)
}

.container .main-title{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.container .content{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.container .content .list{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  margin-right: 50px;
}


.content .list label{
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
  line-height: 60px;
  cursor: pointer;
  margin: 0;
  padding-left: 25px;
  color: #333;
  z-index: 12;
  transition: all 0.3s ease;
}

.content .list label:hover{
  color: #0DB295;
}

#home:checked ~ .list .home,
#blog:checked ~ .list .blog,
#help:checked ~ .list .help,
#code:checked ~ .list .code{
  color: #fff;
}

.content .indicator{
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background: #0DB295;
  border-radius: 12px;
  transition: all 0.4s ease;
}

#home:checked ~ .list .indicator{
  top: 0;
}

#blog:checked ~ .list .indicator{
  top: 60px;
}

#help:checked ~ .list .indicator{
  top: 120px;
}

#code:checked ~ .list .indicator{
  top: 180px;
}

#about:checked ~ .list .indicator{
  top: 240px;
}

.container input[type="radio"]{
  display: none;
}

.container .content .text-content{
  width: 80%;
  height: 100%;
}

.content .text-content .text{
  display: none;
}

.content .text-content .home{
  display: block;
}
#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code{
  display: block;
}

#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home{
  display: none;
}


.container .content .text-content .title{
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 40px;
}

.container .content .text-content .title a{
  width: 100px;
  padding: 10px 0;
  background: #0DB295;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 15px !important;
}

.link-box{
  display: flex;
  justify-content: end;
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
}

.qna-link{
  width: 100px;
  padding: 10px 0;
  background: #0DB295;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 15px !important;
}

.container .content .text-content p{
  text-align: justify;
}


.qnacontainer{
  margin: 0 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.qnacontainer h1{
  color: #333;
}

.qnacontainer .tab
{
  position: relative;
  background: #fff;
  padding: 0 20px 20px 0;
  box-shadow:  0 15px 25px rgba(0,0,0,0,0.05);
  border-radius: 5px;
  overflow: hidden;
}

.qnacontainer .tab input{
  appearance: none;
}

.container .tab label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.qnacontainer .tab label::after{
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}

.qnacontainer .tab input:checked ~ label::after{
  transform: rotate(135deg);
  color: #fff;
}

.qnacontainer .tab label h2{
  width: 40px;
  height: 40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
}

.qnacontainer .tab input:checked ~ label h2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0.2);
  font-size: 8em;
  justify-content: flex-end;
  padding: 20px;
}

.qnacontainer .tab:nth-child(1) label h2{
  background-color: #0DB295;
}
.qnacontainer .tab:nth-child(2) label h2{
  background-color: #0DB295;
}
.qnacontainer .tab:nth-child(3) label h2{
  background-color: #0DB295;
}
.qnacontainer .tab:nth-child(4) label h2{
  background-color: #0DB295;
}


.qnacontainer .tab label h3{
  font-size: 24px;
  position: relative;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
  z-index: 10;
}

.qnacontainer .tab input:checked ~ label h3{
  font-size: 20px;
  background: #fff;
  padding: 4px 12px;
  color: #333;
  border-radius: 0 6px 6px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}


.qnacontainer .tab .content{
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.qnacontainer .tab input:checked ~ .content{
  max-height: 100vh;
}

.qnacontainer .tab .content p{
  position: relative;
  padding: 10px;
  padding-left: 27px;
  color: #333;
  z-index: 10;
}

.qnacontainer .tab input:checked ~ .content p {
  color: #fff;
}

a{
  text-decoration: none;
}

#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading h1{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}

.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box{
  width: 750px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  /* cursor: pointer; */
}

.profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile{
  display: flex;
  align-items: center;
}

.name-user{
  display: flex;
  flex-direction: column;
}

.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span{
  color: #979797;
  font-size: 0.8rem;
}

.reviews{
  color: #f9d71c;
}

.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment .comment{
  display: flex;

}

.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
  margin-right: 20px;
}

.client-comment img{
  width: 100px;
  height: auto;
  border-radius: 5px;
}

/* .testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s
} */

@media(max-width:1060px){
  .testimonial-box{
    width: 45%;
    padding: 10px;
  }
  .content .list label{
    font-size: 12px;
  }
}

@media(max-width:790px){
  .testimonial-box{
    width: 100%;
  }
  .testimonial-heading h1{
    font-size: 1.4rem;
  }
  .content .list label{
    visibility:hidden
  }
  .container .main-title{
    font-size: 20px;
  }
}

@media(max-width:340px){
  .box-top{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews{
    margin-top: 10px;
  }
}

.comment-btn{
  padding: 10px 40px;
  background: #0DB295;
  color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px; 
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.table_section{
  height: 500px;
  overflow: auto;
}

table{
  width: 100%;
  table-layout: fixed;
  min-width: 900px;
  border-collapse: collapse;
}

thead th{
  position: sticky;
  top: 0;
  background-color: #0DB295;
  color: #fff;
  font-size: 15px;
}

th, td{
  border-bottom: 1px solid #dddddd;
  padding: 10px 10px;
  word-break: break-all;
  text-align: center;
}

td img{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px solid #ced0d2;
}

tr:hover td{
  color: #0DB295;
  cursor: pointer;
  background-color: #f6f9fc;
}

td button{
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

td button:nth-child(1){
  background-color: rgba(80, 98, 255, 0.8);
}

td button:nth-child(2){
  background-color: rgba(255, 85, 85, 0.8);;
}

::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
