body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 60vh;
  /* display: grid;
  place-items: center; */
}

/* swiper */
.container{
  /* margin-bottom: 2rem; */
  width: 100%;
  height: 700px;
  background: #222;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper{
  width: 100%;
  height: 100%;
}

.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-scrollbar{
  margin-bottom: 2rem !important;
  left:10% !important;
  width: 75% !important;
  background: gray;
}
.swiper-scrollbar-drag{
  background: #fff;
}

/* slider */
.slider {
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  height: 400px;
  width: calc(400px * 18);
  animation: scroll 40s linear infinite
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 9));
  }
}

.slide {
  height: 400px;
  width: 300px;
  display: center;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slider-img {
  width: 100%;
  transition: transform 1s;
}

.slider-img:hover{
  transform: translateZ(5px)
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,
  rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg)
}