.product {
    margin: 100px auto;
    justify-content: center;
}

.product-image-list {
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.imgBox {
    display: none;
    height: 500px;
    /* display: flex; */
    justify-content: center;
    margin-right: 50px;
    border: 1px solid rgb(201, 201, 201);
}

/* 992px부터 반응형 */

.infoBox {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 26px;
    margin: 0;
    font-weight: 600;
}

.product-sub-review {
    font-size: 16px;
    font-weight: 300;
}

.costBox {
    display: flex;
    align-items: center;
}

.cost-label {
    margin-right: 40px;
}

.cost {
    font-size: 2rem;
    font-weight: 600;
}

.origin-cost {
    width: 80px;
    color: gray;
    text-decoration: line-through;
}

.sale {
    color: #e91e63;
}

.service {
    color: gray;
}

.form-option {
    margin: 10px 0;
    min-width: 100%;
}

.select-option {
    display: flex;
    flex-direction: column;
}

.product-cart-box {
    margin: 20px 0;
}

.count-btn {
    padding: 5px 10px;
    width: 40px;
    font-size: 18px;
    background: #fff;
    font-weight: 600;
    border: 1px solid lightgray;
}

.count-input {
    text-align: center;
    width: 40px;
    background: #fff;
    border: 1px solid lightgray;
    border-width: 1px 0 1px 0;
}

.cart-btn {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #0DB295;
    color: #fff;
    transition: 0.3s;
    font-weight: 600;
}

.cart-btn:hover {
    background: #07937a;
}

ul{
    margin-bottom: 4rem;
    padding-left: 0;
    display: flex;
    list-style:none;
    justify-content: space-evenly;
}

.tab_menu{
    position: relative;
}

.tab_menu .list{
    overflow: hidden;
}

.tab_menu .list li{
    float: left; 
    min-width: 50%;
    text-align: center;
}

.tab_menu .list li.is_on .btn{
    color: #0DB295;
    border-radius: 0;
    border-bottom: 3px solid #0DB295;
}

.tab_menu .list .btn{
    font-size: 18px;
    border: none;
    width: 100%;
}

.tab_menu .cont_area .cont{
    display :none; 
    /* background:#555;  */
    color: #000; 
    text-align: center; 
    width: 100%;
}

.cont-title-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.cont-title {
    font-size: 26px;
    font-weight: 400;
}

.all-reviews {
    color: gray;
    text-decoration: none;
}

.all-reviews:hover {
    color: #0DB295;
}

.create-review-box {
    margin-bottom: 40px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.review-grade-box {
    margin-bottom: 20px;
}

.review-grade-star {
    color: #0DB295;
}

.create-review-box .review-grade-star {
    margin-right: 10px;
    font-size: 40px;
    color: #0DB295;
}

.create-review-box .review-grade-score {
    color: #333;
    font-size: 40px;
    font-weight: 500;
}

.create-review-link {
    display: inline-block;
    width: 180px;
    padding: 10px;
    background:#0DB295;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.create-review-link:hover {
    padding: 9px;
    color: #0DB295;
    background: #fff;
    border: 1px solid #0DB295;
    transition: background 0.3s, color 0.3s;
}

.review-link {
    color: #000;
    text-decoration: none
}

.review-link:hover {
    color:rgb(34, 207, 112);
}

.review-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.review {
    text-align: start;
}

.grade {
    color: rgb(34, 207, 112);
}

.review-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.review-user {
    font-weight: 600;
}

.review-content {
    margin-top: 20px;
    padding: 0;
}

.review-image-box {
    display: flex;
    flex-direction: column;
}

.review-image {
    width: 140px;
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.review-image-count {
    margin-top: 10px;
    color: gray;
}

.comment-btn{
    background: #fff;
    border: 1px solid lightgray;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-content .modal-body .modal-img{
    width: 100%;
}

.modal-body{
    width: 100%;
}

.modal-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.qna-link {
    color: #000;
    text-decoration: none;
}

.qna-link:hover {
    color: #0DB295;
}

.create-qna-box {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.create-qna-link {
    display: inline-block;
    width: 120px;
    padding: 4px;
    color: #0DB295;
    background: #fff;
    border: 1px solid #0DB295;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.create-qna-link:hover {
    padding: 4px;
    color: #000;
    background:#0DB295;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}