.product {
    margin: 100px auto;
    justify-content: center;
}

.product-image-list {
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.imgBox {
    height: 500px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    border: 1px solid rgb(201, 201, 201);
}

/* 992px부터 반응형 */

.infoBox {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin-bottom: 20px;
}

.costBox {
    display: flex;
    align-items: center;
}

.cost-label {
    margin-right: 40px;
}

.cost {
    font-size: 2rem;
    font-weight: 600;
}

.service {
    color: gray;
}

.form-option {
    margin: 10px 0;
    min-width: 100%;
}

.select-option {
    display: flex;
    flex-direction: column;
}

.product-cart-box {
    margin: 20px 0;
}

.count-btn {
    padding: 5px 10px;
    font-size: 18px;
    background: rgb(49, 228, 174);
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
}

.count-input {
    width: 30px;
}

.cart-btn {
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: rgb(51, 226, 182);
}

ul{
    margin-bottom: 4rem;
    padding-left: 0;
    display: flex;
    list-style:none;
    justify-content: space-evenly;
}

.tab_menu{
    position:relative;
}

.tab_menu .list{
    overflow:hidden;
}

.tab_menu .list li{
    float:left; 
    min-width: 50%;
    text-align: center;
}

.tab_menu .list li.is_on .btn{
    font-weight:bold; 
    color:rgb(45, 185, 108);
    /* border: none; */
    border-radius: 0;
    border-bottom: 3px solid rgb(45, 185, 108);
}

.tab_menu .list .btn{
    font-size:20px;
    border: none;
    width: 100%;
}

.tab_menu .cont_area .cont{
    display:none; 
    /* background:#555;  */
    color:#000; 
    text-align:center; 
    width: 100%;
}

.review-link {
    color: #000;
    text-decoration: none
}

.review-link:hover {
    color:rgb(34, 207, 112);
}

.review {
    text-align: start;
}

.grade {
    color: rgb(34, 207, 112);
}

.review-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.review-user {
    font-weight: 600;
}

.review-content {
    padding: 20px 0;
}