*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img{
  width: 100%;
} */

/* body{
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 0 1.5rem;
} */

.qna-post{
  max-width: 90rem;
  margin: 3rem;
  padding: 5rem;
  /* background-color: #fff; */
  /* box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.qna-post_img{
  min-width: 35rem;
  max-width: 35rem;
  height: 35rem;
  transform: translateX(-8rem);
  position: relative;
}

.qna-post_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065) */
}

/* .qna-post_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: .8rem;
} */

.qna-post_date span{
  /* display: block; */
  color: rgba(0, 0, 0, .5);
  font-size: 18px;
  font-weight: 600;
  margin: .5rem 0;
}

.qna-post_title{
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
}

.qna-post_text{
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1068px) {
  .qna-post{
    max-width: 80rem;
  }
  .qna-post_img{
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .qna-post{
    max-width: 70rem;

  }
}

@media screen and (max-width: 768px) {
  .qna-post{
    padding: 2.5rem;
    flex-direction: column;
  }
  .qna-post_img{
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
}

.qna-btn{
  display: flex;
  height: 10%;
  justify-content: end;
  align-items: center;
}

.qna-btn .delete-btn{
  text-decoration: none;
  padding: 10px 13.5px;
  background: rgba(255, 85, 85, 0.8);
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  border-radius: 50%;
}


.qna-btn .update-btn{
  text-decoration: none;
  padding: 10px 13.5px;
  background: rgba(80, 98, 255, 0.8);
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.qna-btn .back-btn{
  text-decoration: none;
  padding: 10px 13.5px;
  background: rgba(109, 109, 109, 0.8);
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.qna-post_info{
  width: 90%;
  height: 500px;
}

.qna-post_info .qna-post_title{
  text-align: center;
}

.post-head{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-body{
  height: 80%;
  margin-top: 3rem;
}