.back {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 70px;
  font-weight: 200;
}

.back a {
  color: rgba(140, 140, 140, 0.705);
  text-decoration: none;
}

@media ( max-width: 1024px ) {
  .back span {
    display: none;
  } 
}

.qna-post{
  margin: auto;
  max-width: 90rem;
  padding: 5rem;
  /* background-color: #fff; */
  /* box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.qna-post_info {
  min-width: 400px;
}

.qna-post_img{
  margin-right: 30px;
  min-width: 35rem;
  height: 35rem;
  position: relative;
}

.qna-post_img .qna-image{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.qna-post_text {
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1068px) {
  .qna-post{
    max-width: 80rem;
  }
  .qna-post_img{
    min-width: 27rem;
    max-width: 27rem;
  }
}

@media screen and (max-width: 868px) {
  .qna-post{
    max-width: 70rem;

  }
}

@media screen and (max-width: 768px) {
  .qna-post{
    padding: 2.5rem;
    flex-direction: column;
  }
  .qna-post_img{
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
}

.qna-btn{
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}

.qna-btn .delete-btn{
  position: relative;
  text-decoration: none;
  padding: 10px 21px;
  background: rgba(255, 85, 85, 0.8);
  color: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.qna-btn .delete-btn i{
  position: absolute;
  left: 31%;
}


.qna-btn .update-btn{
  text-decoration: none;
  padding: 10px 13.5px;
  background: rgba(80, 98, 255, 0.8);
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.qna-btn .back-btn{
  text-decoration: none;
  padding: 10px 13.5px;
  background: rgba(109, 109, 109, 0.8);
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.qna-post_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  width: 90%;
  height: 500px;
  box-shadow: 5px 4px 14px 1px rgb(46 80 114 / 9%);
}

.post-title {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.qna-post_info .qna-post_title{
  text-align: center;
  font-size: 22px;
}

.post-title{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.qna-user-image {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid lightgray;
}

.qna-post_username {
  margin: 0;
  font-size: 18px;
}