
.style-box {
  padding: 3rem 20rem;
  justify-content: center;
}

.style-title {
  font-weight: 200;
  font-size: 40px;
}

.style-create-link {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.style-create-link:hover {
  text-decoration: none;
  color: #05bb7e;
}

.style-create {
  font-weight: 200;
}

.style-card {
  padding: 2rem;
  padding-bottom: 6rem;
  margin: auto;
  margin-bottom: 3rem;
  max-width: 400px;
  height: 600px;
  position: relative;
  border-radius: 8px;
  box-shadow: 5px 16px 32px 0px #0d224216;
}

.style-img {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.style-user {
  width: 81%;
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style-link {
  color: rgb(31, 31, 31);
  text-decoration: none;
  transition: 0.3s;
}

.style-link:hover {
  text-decoration: none;
  color: #05bb7e;
}

.style-username {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.style-userimage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: solid 1px rgba(193, 193, 193, 0.704);
}


.like i span {
  text-align: center;
  left: 35%;
  top: 15%;
  position: absolute;
  font-size: 13px;
  color: white;
}

.like i {
  position: relative;
  font-size: 26px;
  color: rgb(238, 97, 97);
}

@media ( max-width: 2300px ) {
  .style-box {
    padding: 3rem 10rem;
  }
}

@media ( max-width: 1928px ) {
  .style-card {
    margin: 14px;
  }
  .style-box {
    padding: 3rem 7rem;
  }
}

@media ( max-width: 1600px ) {
  .style-card {
    height: 500px;
    margin: 14px;
  }
}

@media ( max-width: 1400px ) {
  .style-card {
    padding: 2rem;
    padding-bottom: 5rem;
    height: 350px;
  }
  .style-username {
    font-size: 18px;
  }
  .like i {
    font-size: 23px;
  }
}

@media ( max-width: 991px ) {
  .style-card {
    padding: 2rem;
    padding-bottom: 5rem;
    height: 500px;
  }
  .style-username {
    font-size: 16px;
  }
}

@media ( max-width: 767px ) {
  .style-card {
    padding-bottom: 8rem;
    height: 750px;
  }
  .style-box {
    padding: 3rem 5rem;
    /* gap: 5px; */
    justify-content: center;
  }
}

@media ( max-width: 560px ) {
  .style-card {
    padding-bottom: 6rem;
    height: 600px;
  }
}

