{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock css %}

{% block content %}

  <div class="signup-form">

    <div class="title">비밀번호 변경</div>

    <form action="" method="POST" name="loginForm">
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <span class="details">현재 비밀번호</span>
          <input type="password" placeholder="비밀번호를 입력해 주세요" required="required" name="old_password" id="old_password">
        </div>

        <div class="input-box"></div>

        <div class="input-box">
          <span class="details">새로운 비밀번호</span>
          <input type="password" placeholder="비밀번호를 입력해 주세요" required="required" name="new_password1" id="password1">
        </div>

        <div class="input-box">
          <span class="details">비밀번호 확인</span>
          <input type="password" placeholder="비밀번호를 확인해 주세요" required="required" name="new_password2" id="password2">
        </div>

        <div class="button">
          <input type="button" value="수정 완료" onclick="loginCheck()">
        </div>
      </div>

    </form>

  </div>

  <script>
    function loginCheck() {

      let loginForm = document.loginForm;
      let password1 = document
        .getElementById('password1')
        .value;
      let password2 = document
        .getElementById('password2')
        .value;

      if (password1 === "") {
        alert("비밀번호를 입력해주세요.");
      } else if (password2 === "") {
        alert("비밀번호를 확인해주세요.");
      } else if (password1 !== password2) {
        alert("동일한 비밀번호를 입력해주세요")
      } else if (password1 === password2) {
        loginForm.submit();
      } else {
        alert("현재 비밀번호를 확인해주세요")
      }
    }
  </script>

{% endblock %}