{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts_mypage_update.css' %}">
{% endblock css %}
{% block content %}

<div class="signup-form">
    <div class="title">회원정보 수정</div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {% bootstrap_form form %} -->
        <div class="user-details">
        <div class="input-box">
            <span class="details">이름</span>
            <input type="text" placeholder="이름을 입력해 주세요" required="required" name="nickname" value="{{request.user.nickname}}">
        </div>
        <div class="input-box">
            <span class="details">아이디</span>
            <input type="text" placeholder="아이디를 입력해 주세요" required="required" name="username" value="{{request.user.username}}">
        </div>
        <div class="input-box">
            <span class="details">이메일</span>
            <input type="email" placeholder="이메일을 입력해 주세요" required="required" name="email" value="{{request.user.email}}">
        </div>
        <div class="input-box">
            <span class="details">핸드폰</span>
            <input type="tel" placeholder="번호를 입력해 주세요" required="required" name="phone_number" value="{{request.user.phone_number}}">
        </div>

        <!-- 비밀번호 수정 -->
        <!-- <div class="input-box">
            <span class="details">비밀번호</span>
            <input type="password" placeholder="비밀번호를 입력해 주세요" required="required" name="password1" value="password">
        </div>
        <div class="input-box">
            <span class="details">비밀번호 확인</span>
            <input type="password" placeholder="비밀번호를 확인해 주세요" required="required" name="password2">
        </div> -->

        <div class="input-box">
            <span class="details">생년월일</span>
            <input type="number" required="required" placeholder="생년월일을 입력해 주세요" name="birth" value="{{request.user.birth}}">
        </div>

        
            <div class="input-box">
                <span class="details">프로필사진</span>
                <input type="file" class="file-input img-input" required="required" name="profile_image" accept="image/*">
            </div>
            <!-- <div class="row">
                <div class="col-6 img-change">
                    현재:&nbsp;<a href="{{request.user.profile_image}}">{{request.user.profile_image}}</a>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input type="checkbox" name="profile_image-clear" id="profile_image-clear_id"
                                class="form-check-input">
                        <label for="profile_image-clear_id"
                                class="form-check-label">취소</label>
                    </div>
                </div>
                </div> -->

        </div>

        <div class="gender-details">
        <div class="gender-title">
            {% if request.user.gender == 'M'%}
                <input type="radio" name="gender" id="dot-1" value="M" checked>
                <input type="radio" name="gender" id="dot-2" value="W">
            {% else %}
                <input type="radio" name="gender" id="dot-1" value="M">
                <input type="radio" name="gender" id="dot-2" value="W" checked>
            {% endif %}
            <span>성별</span>
            <div class="category">
            <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">남자</span>
            </label>
            <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">여자</span>
            </label>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a class="btn btn-outline-info" href="{% url 'accounts:change-password' %}">비밀번호 변경하기</a>
            <div class="button">
                <input type="submit" value="수정 완료">
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}