{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts_mypage.css' %}">
{% endblock css %}

{% block content %}

<div class="mypage">
  {% if request.user == user %}
    <h1>My Page</h1>
  {% else %}
    <h1>{{ user.nickname }}'s Page</h1>
  {% endif %}
  <div class="section row container">
      <div class="col-12 col-md-7 mb-4">
        {% if user.profile_image %}
          <div class="profile-crop" style="background-image: url('{{ user.profile_image.url }}');">
          </div>
            {% comment %} <img class="profile-image"  src="{{ user.profile_image.url }}"> {% endcomment %}
        {% else %}
            <div class="profile-crop" style="background-image: url('https://dummyimage.com/300X400')"></div>
        {% endif %}
      </div>
    <div class="col-12 col-md-5">
      <div class="info">
        <div class="info-box">
          <p>이름 :
            <span class="info-name">{{ user.nickname }}</p>
          <p>아이디 :
            <span class="info-content">{{ user.username }}</span></p>
          <p>휴대폰 번호 :
            <span class="info-content">{{ user.phone_number }}</span></p>
          <p>이메일 :
            <span class="info-content">{{ user.email }}</span></p>
          <p>생일 :
            <span class="info-content">{{ user.birth }}</span></p>
          <p>성별 :
            {% if request.user.gender == 'M'%}
              <span class="info-content">남자</span></p>
            {% else %}
              <span class="info-content">여자</span></p>
            {% endif %}
        </div>
        {% if request.user == user %}
          <div class="mypage-btn">
            <a class="btn btn-outline-primary me-2" href="{% url 'accounts:mypage-update' user.pk %}">회원정보 수정하기</a>
            <a class="btn btn-outline-danger" href="{% url 'accounts:mypage-delete' user.pk %}">회원 탈퇴하기</a>
          </div>
          {% endif %}
      </div>
      {% if request.user != user %}
        <form action="{% url 'accounts:follow' user.pk %}" method="POST">
          {% if request.user.is_authenticated %}
            {% csrf_token %}
            {% if request.user in user.followers.all %}
              <div id="follow-btn" data-post-id="{{ mypage.user.pk }}" class=" btn btn-outline-danger" type="submit">Unfollow</div>
              {% else %}
              <div id="follow-btn" data-post-id="{{ mypage.user.pk }}" class=" btn btn-outline-primary" type="submit">
                Follow
              </div>
              {% endif %}
          </form>
        {% else %}
          {% bootstrap_button button_type="submit" content="로그인 필요"%}
        {% endif %}
      {% endif %}
      </div>
  </div>
</div>
{% endblock %}