{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts_signup.css' %}">
{% endblock css %}

{% block content %}

  <div class="signupForm">
    <div class="title">회원가입</div>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <span class="details">이름</span>
          <input type="text" placeholder="이름을 입력해 주세요" required="required" id="nickname" name="nickname">
        </div>
        <div class="input-box">
          <span class="details">아이디</span>
          <input type="text" placeholder="아이디를 입력해 주세요" required="required" id="username" name="username">
        </div>
        <div class="input-box">
          <span class="details">이메일</span>
          <input type="email" placeholder="이메일을 입력해 주세요" required="required" id="email" name="email">
        </div>
        <div class="input-box">
          <span class="details">핸드폰</span>
          <input type="tel" placeholder="번호를 입력해 주세요" required="required" id="phone_number" name="phone_number">
        </div>
        <div class="input-box">
          <span class="details">비밀번호</span>
          <input type="password" placeholder="비밀번호를 입력해 주세요" required="required" id="password1" name="password1">
        </div>
        <div class="input-box">
          <span class="details">비밀번호 확인</span>
          <input type="password" placeholder="비밀번호를 확인해 주세요" required="required" id="password2" name="password2">
        </div>
        <div class="input-box">
          <span class="details">생년월일</span>
          <input type="number" required="required" placeholder="생년월일을 입력해 주세요" id="birth" name="birth">
        </div>
        <div class="input-box">
          <span class="details">프로필사진</span>
          <input type="file" class="file-input" required="required" id="profile_image" name="profile_image">
        </div>
      </div>

      <div class="gender-details">
        <div class="gender-title">
          <input type="radio" name="gender" id="dot-1" value="M">
          <input type="radio" name="gender" id="dot-2" value="W">
          <span>성별</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">남자</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">여자</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="button" value="제출" onclick="signupCheck()">
        </div>
      </div>

    </form>
  </div>

  <script>
    function signupCheck() {
      let signupForm = document.signupForm;
      let nickname = document
        .getElementById('nickname')
        .value;
      let username = document
        .getElementById('username')
        .value;
      let email = document
        .getElementById('email')
        .value;
      let phone_number = document
        .getElementById('phone_number')
        .value;
      let birth = document
        .getElementById('birth')
        .value;
      let profile_image = document
        .getElementById('profile_image')
        .value;
      let password1 = document
        .getElementById('password1')
        .value;
      let password2 = document
        .getElementById('password2')
        .value;

      if (nickname == "") {
        alert("이름을 입력해주세요.");
      } else if (username == "") {
        alert("아이디를 입력해주세요.");
      } else if (email == "") {
        alert("이메일을 입력해주세요.");
      } else if (phone_number == "") {
        alert("핸드폰번호를 입력해주세요.");
      } else if (birth == "") {
        alert("생년월일을 입력해주세요.");
      } else if (profile_image == "") {
        alert("프로필사진을 넣어주세요.");
      } else if (profile_image == "") {
        alert("프로필사진을 넣어주세요.");
      } else if (password1 == "") {
        alert("비밀번호를 입력해주세요.");
      } else if (password2 == "") {
        alert("비밀번호를 입력해주세요.");
      } else if (password1 != password2) {
        alert("비밀번호를 확인해주세요.");
      } else {
        signupForm.submit();
      }
    }
  </script>

{% endblock %}
