{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts_signup.css' %}">
{% endblock css %}

{% block content %}

  <div class="signup-form">
    <div class="title">회원가입</div>
    <form action="" method="POST" enctype="multipart/form-data" name="signupForm">
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <label class="details" name="label_nickname" for="{{ form.nickname.id_for_label }}">{{ form.nickname.label }}</label>
          {{form.nickname}}
          <script type="text/javascript">
            if (document.getElementsByName('nickname')[0].value != '') {
              document
                .getElementsByName('label_nickname')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.nickname.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('nickname')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.nickname.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
          
        </div>


        <div class="input-box">
          <label class="details" name="label_username" for="{{ form.username.id_for_label}}">{{ form.username.label}}</label>
          {{ form.username }}
          <script type="text/javascript">
            if (document.getElementsByName('username')[0].value != '') {
              document
                .getElementsByName('label_username')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.username.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('username')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.username.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
          
        </div>

        <div class="input-box">
          <label class="details" name="label_email" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
          {{ form.email }}
          <script type="text/javascript">
            if (document.getElementsByName('email')[0].value != '') {
              document
                .getElementsByName('label_email')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.email.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('email')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.email.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}

        </div>

        <div class="input-box">
          <label class="details" name="label_phone_number" for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}(ex : 01012345678)</label>
          {% comment %} <input type="tel" placeholder="번호를 입력해 주세요" required="required" id="phone_number" name="phone_number"> {% endcomment %}
          {{ form.phone_number }}
          <script type="text/javascript">
            if (document.getElementsByName('phone_number')[0].value != '') {
              document
                .getElementsByName('label_phone_number')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.phone_number.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('phone_number')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.phone_number.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="input-box">
          <label class="details" name="label_password1" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
          {{ form.password1 }}
          <script type="text/javascript">
            if (document.getElementsByName('password1')[0].value != '') {
              document
                .getElementsByName('label_password1')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.password1.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('password1')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.password1.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="input-box">
          <label class="details" name="label_password2" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
          {{ form.password2 }}
          <script type="text/javascript">
            if (document.getElementsByName('password2')[0].value != '') {
              document
                .getElementsByName('label_password2')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.password2.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('password2')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.password2.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="input-box">
          <lable class="details" name="label_birth" for="{{ form.birth.id_for_label }}">생년월일(ex:961123)</lable>
          {{ form.birth }}
          <script type="text/javascript">
            if (document.getElementsByName('birth')[0].value != '') {
              document
                .getElementsByName('label_birth')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.birth.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('birth')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.birth.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="input-box">
          {% comment %} <span class="details">프로필사진</span>
          <input type="file" class="file-input" required="required" id="profile_image" name="profile_image"> {% endcomment %}
          <lable class="details" name="label_profile_image" for="{{ form.profile_image.id_for_label }}">{{ form.profile_image.label }}</lable>
          {{ form.profile_image }}
          <script type="text/javascript">
            if (document.getElementsByName('profile_image')[0].value != '') {
              document
                .getElementsByName('label_profile_image')[0]
                .setAttribute('class', 'active');
            }
          </script>
          {% if form.profile_image.errors %}
            <script type="text/javascript">
              document
                .getElementsByName('profile_image')[0]
                .setAttribute('class', 'is-invalid')
            </script>
            {% for error in form.profile_image.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="gender-details">
        <div class="gender-title">
          <input type="radio" name="gender" id="dot-1" value="M" checked>
          <input type="radio" name="gender" id="dot-2" value="W">
          <span>성별</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">남자</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">여자</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="제출">
        </div>
      </div>

    </form>
  </div>

  {% comment %} <script>
    function signupCheck() {
      let signupForm = document.signupForm;
      let nickname = document
        .getElementById('nickname')
        .value;
      let username = document
        .getElementById('username')
        .value;
      let email = document
        .getElementById('email')
        .value;
      let phone_number = document
        .getElementById('phone_number')
        .value;
      let birth = document
        .getElementById('birth')
        .value;
      let profile_image = document
        .getElementById('profile_image')
        .value;
      let password1 = document
        .getElementById('password1')
        .value;
      let password2 = document
        .getElementById('password2')
        .value;

      if (nickname == "") {
        alert("이름을 입력해주세요.");
      } else if (username == "") {
        alert("아이디를 입력해주세요.");
      } else if (email == "") {
        alert("이메일을 입력해주세요.");
      } else if (phone_number == "") {
        alert("핸드폰번호를 입력해주세요.");
      } else if (birth == "") {
        alert("생년월일을 입력해주세요.");
      } else if (profile_image == "") {
        alert("프로필사진을 넣어주세요.");
      } else if (profile_image == "") {
        alert("프로필사진을 넣어주세요.");
      } else if (password1 == "") {
        alert("비밀번호를 입력해주세요.");
      } else if (password2 == "") {
        alert("비밀번호를 입력해주세요.");
      } else if (password1 != password2) {
        alert("비밀번호를 확인해주세요.");
      } else {
        signupForm.submit();
      }
    }
  </script> {% endcomment %}

{% endblock %}
