{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% comment %} {% block content %}

{% if style.image %}
<img src="{{ style.image.url }}" alt="{{ style.image }}" style="width: 640px; height: 440px;">

{% else %}

<img src="https://img.apti.co.kr/aptHome/images/sub/album_noimg.gif" style="width: 720px; height: 480px;">

{% endif %}
<div>
  <p>{{ style.user }}</p>
</div>


<a href="{% url 'style:update' style.pk %}"> 수정 </a>



<a class="my-3 mx-2 btn btn-danger" href="{% url 'style:delete' style.pk %}">삭제</a>

<div class="my-3">
  {% if request.user.is_authenticated %}
  {% load django_bootstrap5 %}
  <form action="{% url 'style:review_create' style.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form review_form layout='inline' %}
    <br>
    {% bootstrap_button button_type="submit" content="댓글 작성" %}
  </form>
  {% endif %}
</div>


<div>
  {% for review in reviews %}
  <div class="card">
    <div class="card-body">
      {{ review.content }}
      {{ review.grade }}
    </div>
  </div>
  {% endfor %}

</div>
{% endblock content %} {% endcomment %}