{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style_detail.css' %}">
{% endblock css %}



{% block content %}
<!-- 스타일 게시글 -->
<div class="section">
  <div class="back">
    <a href="{% url 'style:index' %}">
      <i class="bi bi-chevron-left"></i><span>&nbsp;BACK</span>
    </a>
  </div>
  {% for img in style_images %}
  <div class="img-div">
    <img class="st-img" src="{{ img.image.url }}" alt="{{ style.image }}">
    {% endfor %}
    <div class="info">
      <div class="style-user mt-4 mb-3">
        <div class="d-flex align-items-center">
          <div>
          <!-- 프사 -->
          {% if style.user.profile_image %}
          <div class="style-userimage me-2" style="background-image: url('{{ style.user.profile_image.url }}')">
          </div>
          {% comment %} <img class="profile-image" src="{{ user.profile_image.url }}"> {% endcomment %}
          {% else %}

          <div class="style-userimage me-2" style="background-image: url('https://dummyimage.com/300X400')"></div>
          {% endif %}
          <!-- 유저 이름 -->
          <a class="style-link" href="{% url 'accounts:mypage' style.user.pk %}">
            <p class="style-username">{{ style.user.username }}</p>
          </a>
        </div>

        <div>{{ style.hits }}</div>
        <div>{{ style.created_at }}</div>
      </div>

      </div>
      <div class="st-top mb-3">
        <h1 class="st-title">{{ style.title }}</h1>
        <div class="left-btn">
          {% if request.user == style.user %}
          <a class="btn btn-sm btn-outline-primary me-1" href="{% url 'style:update' style.pk %}">
            <i class="bi bi-pencil-square"></i>
          </a>
          <a class="btn btn-sm btn-outline-danger" href="{% url 'style:delete' style.pk %}"><i
              class="bi bi-trash"></i></a>
          {% endif %}
        </div>
      </div>

      <p class="st-content d-flex">{{ style.content }}</p>
    </div>
  </div>

  <div class="center-btn">

    <div class="follow me-3">
      <!-- 팔로우 -->
      {% if request.user != style.user %}
      {% if request.user in style.user.followers.all %}
      <div id="follow-btn" data-post-id="{{ style.user.pk }}" class=" btn btn-outline-danger" type="submit">Unfollow
      </div>
      {% else %}
      <div id="follow-btn" data-post-id="{{ style.user.pk }}" class=" btn btn-outline-primary" type="submit">
        Follow
      </div>
      {% endif %}
      {% endif %}
    </div>

    <!-- 좋아요 -->
    <div class="d-flex flex-column justify-content-center text-center">
      {% if request.user.is_authenticated %}
      {% if request.user in style.like_users.all %}
      <i id="like-btn" data-post-id="{{ style.pk }}" class="bi bi-heart-fill"></i>
      {% else %}
      <i id="like-btn" data-post-id="{{ style.pk }}" class="bi bi-heart"></i>

      {% endif %}
      {% else %}
      <i class=" bi bi-heart"></i>
      {% endif %}
      <div>{{ style.like_users.count }}</div>
    </div>
  </div>


  <div class="card">
    <div class="card-header bg-white">
      <div class="col-md-12">
        {% csrf_token %}
        <div class="form-group row">
          <textarea class="form-control" id="content_id" rows="3" placeholder="댓글을 입력해주세요."></textarea>
        </div>
        <div class="text-right" style="float:right">
          <button id="review_write" class="btn btn-sm">댓글달기</button>
        </div>
      </div>
      <hr>
      <div id="more_review">
        {% if reviews %}
        {% for review in reviews %}
        <div id='{{ review.id }}'>
          {% if review.deleted %}
          <span>삭제된 댓글입니다.</span>
          <hr>
          {% else %}
          {% if review.user == style.user %}
          <span style="font-weight: 500;">{{ review.user }}&nbsp;<span>(글쓴이)</span></span>
          {% else %}
          <strong>{{ review.user }}</strong>
          {% endif %}
          <span style="float:right; font-size: 13px; color: gray;">{{ review.created }}</span>
          {% if review.user == request.user or request.user.level == '0' or request.user.level == '1' %}
          <div>
            <div style="white-space:pre-wrap; text-align:left;">{{ review.content }}</div>
            <div style="text-align: right;">
              <a class="comment-delete" onclick="reviewDelete('{{review.id}}');">삭제</a>
            </div>
          </div>
          <hr>
          {% else %}
          <div>
            <div style="white-space:pre-wrap; text-align:left;">{{ review.content }}</div>
          </div>
          <hr>
          {% endif %}
          {% endif %}
        </div>
        <div class='{{ review.id }}'></div>
        {% endfor %}
        {% endif %}
        <input type="hidden" id="review_user" value="{{request.user}}">
        <div id="review_list"></div>
      </div>
    </div>
  </div>
</div>
<!-- 댓글 비동기 처리 -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#review_write').click(function () {
      var content = $("#content_id").val();
      var user = $("#review_user").val();
      $.ajax({
        type: "POST",
        url: "{% url 'style:review_create' style.id %}",
        dataType: "json",
        data: {
          'user': user,
          'content': content,
          'csrfmiddlewaretoken': '{{csrf_token}}'
        },
        success: function (response) {
          if (response.self_comment) {
            $('#review_list').append('<div><div id=' + response.review_id + '><strong>' + response.user + '&nbsp;<span>' + response.self_comment + '</span></strong>' + '<span style="float:right;">' + response.created + '</span>' + '<div><div style="white-space:pre-wrap; text-align:left;">' + response.content + '</div><div style="text-align:right;"><a onclick="reviewDelete(' + response.review_id + ');">댓글삭제</a></div></div><hr></div><div class=' + response.review_id + '></div>');
          } else {
            $('#review_list').append('<div><div id=' + response.review_id + '><strong>' + response.user + '</strong>' + '<span style="float:right;">' + response.created + '</span>' + '<div><div style="white-space:pre-wrap; text-align:left;">' + response.content + '</div><div style="text-align:right;"><a onclick="reviewDelete(' + response.review_id + ');">댓글삭제</a></div></div><hr></div><div class=' + response.review_id + '></div>');
          }
          $('#content_id').val("");
        },
        error: function () {
          if ($('#content_id').val() == "") {
            alert('댓글을 입력해주세요.');
          }
        }
      })
    });
  });
</script>

<!-- 댓글 삭제 -->
<script type="text/javascript">
  function reviewDelete(value) {
    var review_id = value;
    var delete_warning = confirm('댓글을 삭제하시겠습니까?');
    if (delete_warning == true) {
      $.ajax({
        type: "POST",
        url: "{% url 'style:review_delete' style.id %}",
        dataType: "json",
        data: {
          'review_id': review_id,
          'csrfmiddlewaretoken': '{{csrf_token}}'
        },
        success: function (response) {
          $('#' + response.review_id).replaceWith('<span style="color:gray;">삭제된 댓글입니다.</span><hr>');
        },
        error: function () {
          alert('본인 댓글이 아닙니다.');
        }
      });
    }
  }
</script>

<!-- 팔로우 비동기 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const followBtn = document.querySelector('#follow-btn')
  followBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({ method: 'get', url: `/accounts/${event.target.dataset.postId}/follow/` }).then(response => {
      console.log(event.target.dataset)
      console.log(response.data)
      if (response.data.is_followed === true) {
        event
          .target
          .classList
          .add('btn-outline-danger')
        event
          .target
          .classList
          .remove('btn-outline-primary')
        followBtn.innerText = "Unfollow"
      } else {
        event
          .target
          .classList
          .add('btn-outline-primary')
        event
          .target
          .classList
          .remove('btn-outline-danger')
        followBtn.innerText = "Follow"
      }
    })
  })
</script>

<!-- 좋아요 비동기 -->
<script>
  const likeBtn = document.querySelector('#like-btn')
  likeBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({ method: 'get', url: `/style/${event.target.dataset.postId}/like/` }).then(response => {
      console.log(response)
      console.log(response.data)
      if (response.data.isliked === true) {
        event
          .target
          .classList
          .add('bi-heart-fill')
        event
          .target
          .classList
          .remove('bi-heart')
      } else {
        event
          .target
          .classList
          .add('bi-heart')
        event
          .target
          .classList
          .remove('bi-heart-fill')
      }
      location.reload();
    })
  })
</script>

{% endblock content %}