{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<body>
  {% if request.resolver_match.url_name == 'create' %}
  <h1 class="text-center post-color pb-4">
    스타일등록
  </h1>
  {% else %}
  <h1 class="text-center post-color">
    스타일 수정
  </h1>
  {% endif %}

  {% if request.resolver_match.url_name == 'create' %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form style_form %}
    <div class="d-grid gap-2">
      <button type="submit" class="btn" style="background-color: rgb(245, 132, 12); color: white;">등록
      </button>
    </div>
  </form>

  {% else %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form style_form %}
    <label for="imgs">Image</label><br>
    <input id="imgs" type="file" name="imgs" multiple>
    <div class="d-grid gap-2">
      <button type="submit" class="btn" style="background-color: rgb(245, 132, 12); color: white;">수정
      </button>
    </div>
  </form>
  {% endif %}

</body>
{% endblock content %}