{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
  <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
{% endblock css %}

{%block content %}
  <div class="style-box">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="style-title">Style</h1>
      <a class="style-create-link" href="{% url 'style:create' %}">
        <h5 class="m-0 style-create">
          <i class="bi bi-plus-lg"></i>My style 공유</h5>
      </a>
    </div>
    <div class="row justify-content-center">
      {% for style in styles %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" style="padding: 0;">
          <div class="style-card">
            <!-- 카드 사진 -->
            {% for img in style.photo_set.all %}
              {% if forloop.counter == 1%}
              <a href="{% url 'style:detail' style.pk %}">
                  <div class="style-img h-100 card-img-top" style="background-image:url('{{ img.image.url }}')">
                    {% comment %} <img src="{{ img.image.url }}" class="style-img   card-img-top w-100" alt="..."> {% endcomment %}
                  </div>
                </a>
              {% endif %}
            {% endfor %}

            <!-- 유저 -->
            <div class="style-user">
              <div class="d-flex align-items-center">

                <a class="d-flex align-items-center style-link" href="{% url 'accounts:mypage' style.user.pk %}">
                  <!-- 프사 -->
                  {% if style.user.profile_image %}
                    <div class="style-userimage me-2" style="background-image: url('{{ style.user.profile_image.url }}')"></div>
                  {% else %}

                    <div class="style-userimage me-2" style="background-image: url('https://dummyimage.com/300X400')"></div>
                  {% endif %}

                  <!-- 유저 이름 -->
                  <h5 class="style-username">{{ style.user.username }}</h5>
                </a>
              </div>

              <div class="like">
                <i class="bi bi-heart-fill">
                  <span>{{ style.like_users.count }}</span></i>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
    const saveBtn = document.querySelector('#save-btn')
    saveBtn.addEventListener('click', function (event) {
      console.log(event.target.dataset)
      axios({method: 'get', url: `/style/${event.target.dataset.postId}/like/`}).then(response => {
        console.log(response)
        console.log(response.data)
        if (response.data.isliked === true) {
          event
            .target
            .setAttribute('src', 'https://cdn.lordicon.com/iwaotjbp.json')
          event
            .target
            .setAttribute('colors', 'primary:#ee6d66,secondary:#ebe6ef')
        } else {
          event
            .target
            .setAttribute('src', 'https://cdn.lordicon.com/rjzlnunf.json')
          event
            .target
            .setAttribute('colors', 'primary:#121331,secondary:#ee6d66')
        }
        location.reload();
      })
    })
  </script>
{% endblock content %}