{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main_wooyeol.css' %}">
  </head>

  <body>
    <div class="container">
      <h1 class="fw-bold">YEOLDY's PICK</h1>
      <div class="product-list w-100 justify-content-evenly">
        <div class="card1 col-2">
          <div class="imgBox">
            <img src="{% static 'images/1.png' %}" alt="">
          </div>
          <div class="contentBox">
            <img class="img-fluid" src="{% static 'images/logo_green.png' %}" alt="">
            <div class="size">
              <h3>Size :
              </h3>
              <span>S</span>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>Color :
              </h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
          <div class="infoBox">
            <h5 class="product-title">뮬리 에코 퍼 자켓</h5>
            <p>
              <span class="sale">20%</span><span class="cost">135,200</span>원</p>
          </div>
        </div>
        <div class="card1 col-2">
          <div class="imgBox">
            <img src="{% static 'images/2.png' %}" alt="">
          </div>
          <div class="contentBox">
            <img class="img-fluid" src="{% static 'images/logo_green.png' %}" alt="">
            <div class="size">
              <h3>Size :
              </h3>
              <span>S</span>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>Color :
              </h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
          <div class="infoBox">
            <h5 class="product-title">트위스트 풀오버 후드 세트</h5>
            <p>
              <span class="sale">19%</span><span class="cost">140,940</span>원</p>
          </div>
        </div>
        <div class="card1 col-2">
          <div class="imgBox">
            <img src="{% static 'images/3.png' %}" alt="">
          </div>
          <div class="contentBox">
            <img class="img-fluid" src="{% static 'images/logo_green.png' %}" alt="">
            <div class="size">
              <h3>Size :
              </h3>
              <span>S</span>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>Color :
              </h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
          <div class="infoBox">
            <h5 class="product-title">카라 플러스 자켓</h5>
            <p>
              <span class="sale">20%</span><span class="cost">103,200</span>원</p>
          </div>
        </div>
        <div class="card1 col-2">
          <div class="imgBox">
            <img src="{% static 'images/4.png' %}" alt="">
          </div>
          <div class="contentBox">
            <img class="img-fluid" src="{% static 'images/logo_green.png' %}" alt="">
            <div class="size">
              <h3>Size :
              </h3>
              <span>S</span>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>Color :
              </h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
          <div class="infoBox">
            <h5 class="product-title">엔와이 트랙 세트</h5>
            <p>
              <span class="sale">3S%</span><span class="cost">105,840</span>원</p>
          </div>
        </div>
        <div class="card1 col-2">
          <div class="imgBox">
            <img src="{% static 'images/5.png' %}" alt="">
          </div>
          <div class="contentBox">
            <img class="img-fluid" src="{% static 'images/logo_green.png' %}" alt="">
            <div class="size">
              <h3>Size :
              </h3>
              <span>S</span>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>Color :
              </h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a href="#">Buy Now</a>
          </div>
          <div class="infoBox">
            <h5 class="product-title">플러피 플리스 후드 자켓</h5>
            <p>
              <span class="sale">10%</span><span class="cost">89,100</span>원</p>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>