{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/products_index.css' %}">
{% endblock css %}
{% block content %}
  <div class="container">
    <div class="banner m-5">
      <h4>전체 top5</h4>
    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for best_product in best_products %}{% comment %} 전체 top5 {% endcomment %}
      <div class="product-card col-2">
        <a href="{% url 'products:detail' best_product.id %}">
          <div class="imgBox">
            {% for product_image in best_product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ best_product.name }}|{{ best_product.average_rating }}</h5>
            <p>
              <span class="sale">10%</span><span class="cost">{{ best_product.cost|intcomma }}</span>원
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="container">
    <div class="banner m-5">
      <h4>상의 top5</h4>
    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for best_product in best_products_1 %}{% comment %} 상의 top5 {% endcomment %}
      <div class="product-card col-2">
        <a href="{% url 'products:detail' best_product.id %}">
          <div class="imgBox">
            {% for product_image in best_product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ best_product.name }}|{{ best_product.average_rating }}</h5>
            <p>
              <span class="sale">10%</span><span class="cost">{{ best_product.cost|intcomma }}</span>원
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="banner m-5">
      <h4>하의 top5</h4>
    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for best_product in best_products_2 %}{% comment %} 하의 top5 {% endcomment %}
      <div class="product-card col-2">
        <a href="{% url 'products:detail' best_product.id %}">
          <div class="imgBox">
            {% for product_image in best_product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ best_product.name }}|{{ best_product.average_rating }}</h5>
            <p>
              <span class="sale">10%</span><span class="cost">{{ best_product.cost|intcomma }}</span>원
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="banner m-5">
      <h4>아우터 top5</h4>
    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for best_product in best_products_3 %}{% comment %} 아우터 top5 {% endcomment %}
      <div class="product-card col-2">
        <a href="{% url 'products:detail' best_product.id %}">
          <div class="imgBox">
            {% for product_image in best_product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ best_product.name }}|{{ best_product.average_rating }}</h5>
            <p>
              <span class="sale">10%</span><span class="cost">{{ best_product.cost|intcomma }}</span>원
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="banner m-5">
      <h4>신발 top5</h4>
    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for best_product in best_products_4 %}{% comment %} 신발 top5 {% endcomment %}
      <div class="product-card col-2">
        <a href="{% url 'products:detail' best_product.id %}">
          <div class="imgBox">
            {% for product_image in best_product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ best_product.name }}|{{ best_product.average_rating }}</h5>
            <p>
              <span class="sale">10%</span><span class="cost">{{ best_product.cost|intcomma }}</span>원
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="banner m-5">
      <h4>악세사리 top5</h4>
    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for best_product in best_products_5 %}{% comment %} 악세사리 top5 {% endcomment %}
      <div class="product-card col-2">
        <a href="{% url 'products:detail' best_product.id %}">
          <div class="imgBox">
            {% for product_image in best_product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ best_product.name }}|{{ best_product.average_rating }}</h5>
            <p>
              <span class="sale">10%</span><span class="cost">{{ best_product.cost|intcomma }}</span>원
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
