{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/products_detail.css' %}">
  <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
{% endblock css %}

{% block content %}
  <div class="product container row">
    <!-- 상품 이미지 리스트 -->
    <div class="col-1">
      <div class="img-list d-flex flex-column">
        {% for product_image in product_images %}
          {% if forloop.first %}
            <div class="on-image product-image-list w-100">
              <a class="image-btn" href="#imagetab{{ forloop.counter }}">
                <img class="img-fluid" src="{{ product_image.image.url }}" alt="">
              </a>
            </div>
          {% else %}
            <div class="product-image-list w-100">
              <a class="image-btn" href="#imagetab{{ forloop.counter }}">
                <img class="img-fluid" src="{{ product_image.image.url }}" alt="">
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- 상품 대표 이미지 -->
    {% for product_image in product_images %}
      {% if forloop.first %}
        <div id="imagetab{{ forloop.counter }}" class="col-4 imgBox" style="display:block; background-image:url('{{ product_image.image.url }}'); background-repeat:no-repeat; background-position:center; background-size:contain;"></div>
      {% else %}
        <div id="imagetab{{ forloop.counter }}" class="col-4 imgBox" style="background-image:url('{{ product_image.image.url }}'); background-repeat:no-repeat; background-position:center; background-size:contain;"></div>
      {% endif %}
    {% endfor %}

    <!-- 상품 상세 박스 -->
    <div class="col-4 infoBox">
      <div class="d-flex justify-content-between">
        <h1 class="title">{{ product.name }}</h1>

        <div class="d-flex align-items-center">
          <!-- 수정 & 삭제 -->
          {% if request.user == product.user %}
            <a class="mb-3 me-2 btn btn-warning" href="{% url 'products:update' product.pk %}">수정</a>
            <a class="mb-3 me-2 btn btn-danger" href="{% url 'products:delete' product.pk %}">삭제</a>
          {% endif %}

          <!-- 좋아요 -->
          {% if request.user.is_authenticated %}
            {% if request.user in product.save_users.all %}
              <lord-icon class="mb-3" src="https://cdn.lordicon.com/iwaotjbp.json" trigger="click" colors="primary:#ee6d66,secondary:#ebe6ef" style="width:40px;height:40px" id="save-btn" data-post-id="{{ product.pk }}"></lord-icon>
            {% else %}
              <lord-icon class="mb-3" src="https://cdn.lordicon.com/rjzlnunf.json" trigger="click" colors="primary:#121331,secondary:#ee6d66" style="width:40px;height:40px" id="save-btn" data-post-id="{{ product.pk }}"></lord-icon>
            {% endif %}
          {% else %}
            <lord-icon class="mb-3" src="https://cdn.lordicon.com/rjzlnunf.json" trigger="click" colors="primary:#121331,secondary:#ee6d66" style="width:40px;height:40px" id="save-btn" data-post-id="{{ product.pk }}"></lord-icon>
          {% endif %}
        </div>
      </div>

      <p class="costBox">
        <span class="cost-label">판매가</span>
        <span class="cost">{{ product.cost }}원</span>
      </p>

      <hr>

      <div class="d-flex flex-column">
        <div class="d-flex mb-2">
          <div class="service-label col-4">배송비</div>
          <div class="service">무료배송</div>
        </div>
        <div class="d-flex mb-2">
          <div class="service-label col-4">쇼핑팁</div>
          <a class="service" href="">
            <div>
              무이자 할부 혜택 보기
            </div>
          </a>
        </div>
        <div class="d-flex mb-2">
          <div class="service-label col-4">배송안내</div>
          <div class="service">무료배송</div>
        </div>
      </div>

      <hr>

      <form class="d-flex flex-column justify-content-between w-100" action="{% url 'cart:add_cart' product.pk %}" method="POST">
        {% csrf_token %}
        <!-- 색상 -->
        <div class="form-option select-option">
          <label for="color">색상</label>
          <select name="color" id="color" onchange="handleOnChangeColor(this)">
            <option value="none" selected="selected">- [필수] 옵션을 선택해 주세요 -</option>
            <option value="" disabled="disabled">--------------------------</option>
            {% for color in colors %}
              <option value="{{ color }}">{{ color }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- 사이즈 -->
        <div class="form-option select-option">
          <label for="size">사이즈</label>
          <select name="size" id="size" onchange="handleOnChangeSize(this)">
            <option value="none" selected="selected">- [필수] 옵션을 선택해 주세요 -</option>
            <option value="" disabled="disabled">--------------------------</option>
            {% for size in sizes %}
              <option value="{{ size }}">{{ size }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- 장바구니 -->
        <div id="cart">
          <form class="d-flex flex-column justify-content-between w-100" action="{% url 'cart:add_cart' product.pk %}" method="POST">
            {% csrf_token %}
            <div class="product-cart-box d-flex justify-content-between">
              <div class="count-box d-flex">
                <button class="count-btn" type="button" id="minus">-</button>
                <input class="count-input" id="cart_quantity" type="text" name="cart_quantity" value="1">
                <button class="count-btn" type="button" id="plus">+</button>
              </div>
              <button class="cart-btn" type="submit" id="creatCart">장바구니 담기</button>
            </div>
          </form>
        </div>
      </div>

      <div class="product container col-9">
        <div class="tab_menu">
          <ul class="list">
            <li class="is_on">
              <a href="#tab1" class="btn">상품 후기</a>
            </li>
            <li>
              <a href="#tab2" class="btn">상품 문의</a>
            </li>
          </ul>

          <div class="cont_area">
            <div id="tab1" class="cont" style="display:block;">
              <a href="{% url 'community:review_create' product.pk %}">리뷰작성</a>
              {% for review in reviews %}
                <a class="review-link" href="{% url 'community:review_detail' review.pk %}">
                  <div class="review">
                    <h3 class="grade">{{ review.get_grade_display }}
                      <span class="review-title">{{ review.title }}</span>
                    </h3>
                    <div class="d-flex align-items-center">
                      <div class="review-userimg me-3" style="width:40px; height:40px; background-image:url({{review.user.profile_image.url}}); background-repeat:no-repeat; background-position-center; background-size:cover;"></div>
                      <div>
                        <span class="review-user">
                          {{ review.user.username }}
                        </span>님의 리뷰입니다.
                      </div>
                    </div>
                    <p class="review-content">{{ review.content }}</p>
                  </div>
                </a>
                <hr>
              {% endfor %}
            </div>
            <div id="tab2" class="cont">
              <a href="{% url 'community:qna_create' product.pk %}">문의하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 장바구니 기능 -->
    <script>
      const quantity = document.querySelector('#cart_quantity')

      const minus = document.querySelector('#minus')
      minus.addEventListener('click', function () {
        quantity.value -= 1
      })

      const plus = document.querySelector('#plus')
      plus.addEventListener('click', function () {
        console.log(quantity)
        num = parseInt(quantity.value)
        quantity.value = num + 1
      })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 찜하기 -->
    <script>
      const saveBtn = document.querySelector('#save-btn')
      saveBtn.addEventListener('click', function (event) {
        console.log(event.target.dataset)
        axios({method: 'get', url: `/products/${event.target.dataset.postId}/save/`}).then(response => {
          console.log(response)
          console.log(response.data)
          if (response.data.issaved === true) {
            event
              .target
              .setAttribute('src', 'https://cdn.lordicon.com/iwaotjbp.json')
            event
              .target
              .setAttribute('colors', 'primary:#ee6d66,secondary:#ebe6ef')
          } else {
            event
              .target
              .setAttribute('src', 'https://cdn.lordicon.com/rjzlnunf.json')
            event
              .target
              .setAttribute('colors', 'primary:#121331,secondary:#ee6d66')
          }
          location.reload();
        })
      })

      // 장바구니
      function handleOnChangeColor(e) {
        const color = e
          .options[e.selectedIndex]
          .text;

        console.log(color)
      }

      function handleOnChangeSize(e) {
        const size = e
          .options[e.selectedIndex]
          .text;

        console.log(size)
      }

      const colorSelect = document.querySelector("#color")
      const sizeSelect = document.querySelector("#size")
      const creatCart = document.querySelector("#creatCart")

      creatCart.addEventListener("click", function (event) {
        const colorboxOption = colorSelect
          .options[colorSelect.selectedIndex]
          .value;
        const sizeboxOption = sizeSelect
          .options[sizeSelect.selectedIndex]
          .value;

        console.log(colorboxOption, sizeboxOption)
        if (colorboxOption == "none" || sizeboxOption == "none") {
          alert("필수 항목을 입력해주세요")
          event.preventDefault();
        }
      })
    </script>

    <script>
      // 상품 후기 & 문의 탭 분리
      const tabList = document.querySelectorAll('.tab_menu .list li');
      const contents = document.querySelectorAll('.tab_menu .cont_area .cont');
      let activeCont = ''; // 현재 활성화 된 컨텐츠 (기본:#tab1 활성화)

      for (let i = 0; i < tabList.length; i++) {
        tabList[i]
          .querySelector('.btn')
          .addEventListener('click', function (e) {
            e.preventDefault();
            for (let j = 0; j < tabList.length; j++) {
              // 나머지 버튼 클래스 제거
              tabList[j]
                .classList
                .remove('is_on');

              // 나머지 컨텐츠 display:none 처리
              contents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this
              .parentNode
              .classList
              .add('is_on');

            // 버튼 클릭시 컨텐츠 전환
            activeCont = this.getAttribute('href');

            document
              .querySelector(activeCont)
              .style
              .display = 'block';
          });
      }

      // 이미지 바꾸기
      const imgList = document.querySelectorAll('.img-list .product-image-list');
      const productImage = document.querySelectorAll('.imgBox');
      let activeImage = '';

      for (let i = 0; i < imgList.length; i++) {
        imgList[i]
          .querySelector('.image-btn')
          .addEventListener('click', function (e) {
            e.preventDefault();
            for (let j = 0; j < imgList.length; j++) {
              imgList[j]
                .classList
                .remove('on-image');

              productImage[j].style.display = 'none';
            }

            this
              .parentNode
              .classList
              .add('on-image');

            activeImage = this.getAttribute('href');

            document
              .querySelector(activeImage)
              .style
              .display = 'flex';
          });
      }
    </script>
  {% endblock content %}
