{% extends 'base.html' %}

{% block content %}

{% if product.image %}
<img src="{{ product.image.url }}" alt="{{ post.image }}" style="width: 640px; height: 440px;">

{% else %}

<img src="https://img.apti.co.kr/aptHome/images/sub/album_noimg.gif" style="width: 720px; height: 480px;">

{% endif %}

<!-- 장바구니 -->

<div style="display:flex;">
  <form action="{% url 'cart:add_cart' product.pk %}" method="POST">
    {% csrf_token %}
    <button type="button" id="minus">-</button>
    <input id="cart_quantity" type="text" name="cart_quantity" value="0">
    <button type="button" id="plus">+</button>
    <button type="submit">장바구니 담기</button>
  </form>
</div>

<script>
  const quantity = document.querySelector('#cart_quantity')

  const minus = document.querySelector('#minus')
  minus.addEventListener('click', function () {
    quantity.value -= 1
  })

  const plus = document.querySelector('#plus')
  plus.addEventListener('click', function () {
    console.log(quantity)
    num = parseInt(quantity.value)
    quantity.value = num + 1
  })
</script>

{% if request.user.is_authenticated %}
{% if request.user in product.save_users.all %}
<i id="save-btn" data-post-id="{{ product.pk }}" class="bi bi-balloon-heart-fill"></i>
{% else %}
<i id="save-btn" data-post-id="{{ product.pk }}" class="bi bi-balloon-heart"></i>

{% endif %}
{% else %}
<i class=" bi bi-balloon-heart"></i>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 찜하기 -->
<script>
  const saveBtn = document.querySelector('#save-btn')
  saveBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({ method: 'get', url: `/products/${event.target.dataset.postId}/save/` }).then(response => {
      console.log(response)
      console.log(response.data)
      if (response.data.issaved === true) {
        event.target.classList.add('bi-balloon-heart-fill')
        event.target.classList.remove('bi-balloon-heart')
      } else {
        event.target.classList.add('bi-balloon-heart')
        event.target.classList.remove('bi-balloon-heart-fill')
      }
    })
  })
</script>

<a href="{% url 'products:update' product.pk %}">
  수정
</a>

<a href=""></a>
<a class="my-3 mx-2 btn btn-danger" href="{% url 'products:delete' product.pk %}">삭제</a>

<div>
  <p>
    qna 작성</p>
  <a href="{% url 'community:qna_create' product.pk %}">
    작성
  </a>
</div>

<div>
  <p>
    리뷰 작성</p>
  <a href="{% url 'community:review_create' product.pk %}">
    작성
  </a>
</div>

<div>
  {% for review in review_list %}
  <div class="card">
    <div class="card-body">
      <a href="{% url 'community:review_detail' review.pk %}">{{ review.title }}</a>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock content %}