{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<body>
  {% if request.resolver_match.url_name == 'create' %}
  <h1 class="text-center post-color pb-4">
    상품등록
  </h1>
  {% else %}
  <h1 class="text-center post-color">
    상품수정
  </h1>
  {% endif %}

  <!-- 상품 등록시 tmplates -->
  {% if request.resolver_match.url_name == 'create' %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form products_form %}
    <label for="imgs">Image</label><br>
    <input id="imgs" type="file" name="imgs" multiple>
    <div class="d-grid gap-2">
      <button type="submit" class="btn" style="background-color: rgb(245, 132, 12); color: white;">상품등록
      </button>
    </div>
  </form>

  <!-- 상품 수정시 templates -->
  {% else %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form products_form %}
    <label for="imgs">Image</label><br>
    <input id="imgs" type="file" name="imgs" multiple>
    <div class="d-grid gap-2">
      <button type="submit" class="btn" style="background-color: rgb(245, 132, 12); color: white;">상품수정
      </button>
    </div>
  </form>
  {% endif %}

</body>

{% endblock content %}