{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load mathfilters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products_index.css' %}">
{% endblock css %}

{% block content %}
{% if request.resolver_match.url_name == 'index' %}
<div class="container">
  <div class="banner">
    <h1>전체</h1>
    <p>총
      {{ products.count }}개의 상품이 있습니다.</p>
    {% if user.is_staff %}
    <a href="{% url 'products:create' %}">상품 등록</a>
    {% endif %}
  </div>

  <div class="row product-list w-100 justify-content-start">
    {% for product in products %}
    <div class="product-card col-3">
      <a href="{% url 'products:detail' product.id %}">
        <div class="imgBox">
          {% for product_image in product.photo_set.all %}
          {% if forloop.counter == 1%}
          <img class="product-img" src="{{ product_image.image.url }}" alt="">
          {% endif %}
          {% endfor %}
          <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
        </div>
        <div class="contentBox">
          <h5 class="product-title">{{ product.name }}</h5>
          <p>
            {% with sale=product.sale_percent|sub:100 %}
            {% with cal_sale=sale|mul:-1 %}
            {% if product.sale_percent > 0 %}
            <span class="sale">{{ product.sale_percent }}%</span>
            {% endif %}
            <span class="cost">{{ product.cost_2|mul:cal_sale|div:100|floatformat:"0"|intcomma }}</span>원
            {% endwith %}
            {% endwith %}
          </p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% elif request.resolver_match.url_name == 'index_1' %}
<div class="container">
  <div class="banner">
    <h1>상의</h1>
    <img src="{% static 'images/products_banner_top.jpg' %}" alt="banner">
    <p>총
      {{ products.count }}개의 상품이 있습니다.</p>

  </div>
  <div class="row product-list w-100 justify-content-start">
    {% for product in products %}
    <div class="product-card col-3">
      <a href="{% url 'products:detail' product.id %}">
        <div class="imgBox">
          {% for product_image in product.photo_set.all %}
          {% if forloop.counter == 1%}
          <img class="product-img" src="{{ product_image.image.url }}" alt="">
          {% endif %}
          {% endfor %}
          <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
        </div>
        <div class="contentBox">
          <h5 class="product-title">{{ product.name }}</h5>
          <p>
            {% with sale=product.sale_percent|sub:100 %}
            {% with cal_sale=sale|mul:-1 %}
            {% if product.sale_percent > 0 %}
            <span class="sale">{{ product.sale_percent }}%</span>
            {% endif %}
            <span class="cost">{{ product.cost_2|mul:cal_sale|div:100|floatformat:"0"|intcomma }}</span>원
            {% endwith %}
            {% endwith %}
          </p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% elif request.resolver_match.url_name == 'index_2' %}
  <div class="container">
    <div class="banner">
      <h1>하의</h1>
      <img src="{% static 'images/products_banner_bottom.jpg' %}" alt="banner">
      <p>총
        {{ products.count }}개의 상품이 있습니다.</p>

    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for product in products %}
      <div class="product-card col-3">
        <a href="{% url 'products:detail' product.id %}">
          <div class="imgBox">
            {% for product_image in product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ product.name }}</h5>
            <p>
              {% with sale=product.sale_percent|sub:100 %}
              {% with cal_sale=sale|mul:-1 %}
              {% if product.sale_percent > 0 %}
              <span class="sale">{{ product.sale_percent }}%</span>
              {% endif %}
              <span class="cost">{{ product.cost_2|mul:cal_sale|div:100|floatformat:"0"|intcomma }}</span>원
              {% endwith %}
              {% endwith %}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% elif request.resolver_match.url_name == 'index_3' %}
  <div class="container">
    <div class="banner">
      <h1>아우터</h1>
      <img src="{% static 'images/products_banner_outer.jpg' %}" alt="banner">
      <p>총
        {{ products.count }}개의 상품이 있습니다.</p>

    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for product in products %}
      <div class="product-card col-3">
        <a href="{% url 'products:detail' product.id %}">
          <div class="imgBox">
            {% for product_image in product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">

          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ product.name }}</h5>
            <p>
              {% with sale=product.sale_percent|sub:100 %}
              {% with cal_sale=sale|mul:-1 %}
              {% if product.sale_percent > 0 %}
              <span class="sale">{{ product.sale_percent }}%</span>
              {% endif %}
              <span class="cost">{{ product.cost_2|mul:cal_sale|div:100|floatformat:"0"|intcomma }}</span>원
              {% endwith %}
              {% endwith %}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% elif request.resolver_match.url_name == 'index_4' %}
  <div class="container">
    <div class="banner">
      <h1>신발</h1>
      <img src="{% static 'images/products_banner_shoes.jpg' %}" alt="banner">
      <p>총
        {{ products.count }}개의 상품이 있습니다.</p>

    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for product in products %}
      <div class="product-card col-3">
        <a href="{% url 'products:detail' product.id %}">
          <div class="imgBox">
            {% for product_image in product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ product.name }}</h5>
            <p>
              {% with sale=product.sale_percent|sub:100 %}
              {% with cal_sale=sale|mul:-1 %}
              {% if product.sale_percent > 0 %}
              <span class="sale">{{ product.sale_percent }}%</span>
              {% endif %}
              <span class="cost">{{ product.cost_2|mul:cal_sale|div:100|floatformat:"0"|intcomma }}</span>원
              {% endwith %}
              {% endwith %}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% elif request.resolver_match.url_name == 'index_5' %}
  <div class="container">
    <div class="banner">
      <h1>악세사리</h1>
      <p>총
        {{ products.count }}개의 상품이 있습니다.</p>

    </div>
    <div class="row product-list w-100 justify-content-start">
      {% for product in products %}
      <div class="product-card col-3">
        <a href="{% url 'products:detail' product.id %}">
          <div class="imgBox">
            {% for product_image in product.photo_set.all %}
            {% if forloop.counter == 1%}
            <img class="product-img" src="{{ product_image.image.url }}" alt="">
            {% endif %}
            {% endfor %}
            <img class="mini-logo" src="{% static 'images/logo_green.png' %}" alt="">
          </div>
          <div class="contentBox">
            <h5 class="product-title">{{ product.name }}</h5>
            <p>
              {% with sale=product.sale_percent|sub:100 %}
              {% with cal_sale=sale|mul:-1 %}
              {% if product.sale_percent > 0 %}
              <span class="sale">{{ product.sale_percent }}%</span>
              {% endif %}
              <span class="cost">{{ product.cost_2|mul:cal_sale|div:100|floatformat:"0"|intcomma }}</span>원
              {% endwith %}
              {% endwith %}
            </p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
</div>
{% endblock content %}